<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentGatewaySoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49443/IPaymentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PaymentGatewaySoap"
                contract="ServiceReference1.PaymentGatewaySoap" name="PaymentGatewaySoap" />
        </client>
    </system.serviceModel>
</configuration>