<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IPaymentService" />
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="IPaymentService1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ServiceSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49443/IPaymentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="IPaymentService"
                contract="IPaymentService.IPaymentService" name="IPaymentService" />
            <endpoint address="http://localhost:49443/IPaymentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
                contract="IPaymentService.ServiceSoap" name="ServiceSoap1" />
            <endpoint address="http://localhost:49443/IPaymentService.asmx"
                binding="customBinding" bindingConfiguration="IPaymentService1"
                contract="IPaymentService.IPaymentService" name="IPaymentService1" />
            <endpoint address="http://localhost:49443/IPaymentService.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap121"
                contract="IPaymentService.ServiceSoap12" name="ServiceSoap121" />
        </client>
    </system.serviceModel>
</configuration>